*.key
*.mva
*.log
*.aux
*.bbl
*.out
*.pdfsync
*.pytxcode
*.gz
.DS_Store
latex/notes.tex.ok
*.rel
*.blg
latex/dependence.tex.ok
latex/_pics/copulas/product.orig.pdf
latex/notes.dvi
_mathematica/NIGFactorCopula.ok.nb
_mathematica/NIGFactorModel.hmm.nb
_mathematica/NIGFactorCopula.ok.nb
_mathematica/tmp.nb
latex/dependence.tex.francis
_mathematica/tmp.nb
_mathematica/oldstuff/NIGFactorCopula.ok.nb
_mathematica/oldstuff/NIGFactorModel.hmm.nb
_mathematica/oldstuff/tmp.nb
latex/dependence.tex.francis2
_mathematica/NIGFactorCopula.ok.nb
_mathematica/NIGFactorModel.hmm.nb
_mathematica/NIGFactorCopula.ok.nb
_mathematica/tmp.nb
latex/dependence.tex.francis
latex/notes.toc
latex/notes.toc
*.toc
latex/notes.toc
latex/notes.ok.tex
_mathematica/NIGRiskMeasures.ok.nb
_mathematica/StudentT.ok.nb
latex/dependence.ok.tex
latex/SRM_natp.tex
latex/SRM.natp.tex
latex/results.natp.tex
latex/notes.natp.tex
latex/_slides/SRM.dvi
latex/SRM.ok.tex
latex/SRM.dvi
.DS_Store
_mathematica/data_old
_mathematica/oldstuff
_mathematica/data_invalid
parameter_estimation/.DS_Store
parameter_estimation/latex/.DS_Store
latex/.DS_Store
latex/_pics/.DS_Store
latex/_slides/.DS_Store
_mathematica/data_30Days/.DS_Store
_mathematica/.DS_Store
_mathematica/data_brr/.DS_Store
_mathematica/data_PL/.DS_Store
_mathematica/data_PL_5Days/.DS_Store
_mathematica/data_CRIX/.DS_Store
processed_data/BBT_future_Tiingo_xrp/.DS_Store
processed_data/BBT_Tiingo/.DS_Store
processed_data/future_brr_v1/.DS_Store
results/.DS_Store
data/.DS_Store
_mathematica/data_20210613.tgz
_mathematica/data_PL_20210613.tgz
latex/SRM_ok.tex
latex/results_new_new.ok.tex
