
*.log
*.aux
*.bbl
*.out
*.pdfsync
*.pytxcode
*.gz
.DS_Store
.DS_Store
latex/notes.tex.ok
*.rel
*.blg
latex/dependence.tex.ok
latex/_pics/copulas/product.orig.pdf
latex/notes.dvi
_mathematica/NIGFactorCopula.ok.nb
_mathematica/NIGFactorModel.hmm.nb
_mathematica/NIGFactorCopula.ok.nb
_mathematica/tmp.nb
latex/dependence.tex.francis
_mathematica/tmp.nb
_mathematica/oldstuff/NIGFactorCopula.ok.nb
_mathematica/oldstuff/NIGFactorModel.hmm.nb
_mathematica/oldstuff/tmp.nb
latex/dependence.tex.francis2
_mathematica/NIGFactorCopula.ok.nb
_mathematica/NIGFactorModel.hmm.nb
_mathematica/NIGFactorCopula.ok.nb
_mathematica/tmp.nb
latex/dependence.tex.francis
latex/notes.toc
latex/notes.toc
*.toc
latex/notes.toc
latex/notes.ok.tex
_mathematica/NIGRiskMeasures.ok.nb
_mathematica/StudentT.ok.nb
latex/dependence.ok.tex
latex/SRM_natp.tex
.DS_Store
.DS_Store
latex/SRM.natp.tex
latex/results.natp.tex
latex/notes.natp.tex
