useDynLib(EMMIXskew)

importFrom(mvtnorm,rmvnorm)
import(lattice)
import(KernSmooth)

export("EmSkew","EmSkewMOD",
"init.mix","initEmmix","getICL",
"EmSkewfit1","EmSkewfit2",
"rdmvn","rdmvt","rdmst","rdmsn",
"rdemmix","rdemmix2","rdemmix3",
"ddmvn","ddmvt","ddmst","ddmsn","ddmix",
"conplot","conplot2","conplot3",
"mypanel2","mypanel3","mypanel4","panel.density",
"EmSkew.filter","EmSkew.contours","EmSkew.flow",
"inverse","getcov","mvt.dof",
"error.rate","rand.index",
"bootstrap","bootstrap.noc",
"getSWR","interdist","intradist",
"mahalonobis")
